<div id='<?$_name?>' class='epan-component-options' component_type="<?$component_type?>">
	<h3><?$component_type_name?></h3>

	<div type='text' value='' id='column-option-size' ></div>


</div>
<script type="text/javascript">
// ========== OPTION TO COMPONENT EFFECT ==============
// 
// $(your_option_html_element).click(function(event,ui){
// 		$(current_selection_component).what to do ???
// }) 

jQuery(document).ready(function($) {
	$('#column-option-size').slider({
		min:1,
		max:12,
		slide: function (event, ui) {
			for (var i = 1; i <= 12; i++) {
				$(current_selected_component).removeClass('col-md-'+i);		
			};
			$(current_selected_component).addClass('col-md-'+ui.value);
			$(current_selected_component).attr('span',ui.value);
		} 
	});
});


var <?$component_type?>_options = {
	show: function (){
		// ===== THIS CODE RUNS EVERY TIME YOU DOUBLE CLICK YOUR COMPONENT
		// TO TAKE VALUES FROM COMPONENT AND FILL OPTIONS
		// 
		// $(your_option_html_element).text($(current_selected_component).css('border'));
		$('#column-option-size').slider('value',$(current_selected_component).attr('span'));
	}
}
</script>