<div id="<?$_name?>">
	<h2>Page Version (A/B/__) Testing</h2>
	<p>
		Page version allows you to deliver various page versions (snapshots) to your visitor in a sequential manner. Each of your offered snapshot is rendered to your visitor and a history is managed. You can attach various goals with the page. Later, you can have an analysis about the goals achieved by various versions. 
	</p>
	<p>
		This will gives you a better look inside your layout and punch lines or even your showcase products. You can vary between various layouts and combinations to try.
	</p>
</div>